<div id="swiper" data-controller="swiper">
  <div class="swiper-status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="swiper-cards">
    <% @vocabs.each do |vocab| %>
      <div
        data-swiper-vocab-value="<%= vocab.flashcard_words.first.id %>"
        data-vocab-id="<%= vocab.flashcard_words.first.id %>"
        class="card"
        data-swiper-target="swiperCard"
      >

        <div class="card-body">
          <h5 class="card-title"><%= vocab.word %></h5>
          <p class="card-text"><em><%= vocab.part_of_speech %></em></p>
          <p class="card-text"><strong>definition:</strong>
            <%= vocab.definition %>
          </p>

        </div>
      </div>
    <% end %>
  </div>

  <div class="swiper-buttons">
    <button id="nope" data-swiper-target="nope"><i class="fa fa-remove"></i></button>
    <button id="love" data-swiper-target="love"><i class="fa fa-heart"></i></button>
  </div>
</div>
